.Book {
  margin: 20px;
  list-style: none;
}
.Book:hover {
    cursor: pointer;
}

.img-book {
  background: #D8D8D8;
  width: 130px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-cover {
  width: 70px;
  height: 70px;
}

.img-book-set {
  width: 100%;
  height: 180px;
}

.title-book {
  font-family: Roboto-Bold;
  font-size: 14px;
  color: #000;
  line-height: 20px;
  margin-top: 10px;
  font-weight: bold;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  width: 130px;
}

.subtitle-book {
  font-family: Roboto-Regular;
  font-size: 12px;
  color: #999;
  line-height: 20px;
}
